<div id = 'chart38077d7c3e' class = 'rChart nvd3'></div>
<script type='text/javascript'>
 $(document).ready(function(){
      drawchart38077d7c3e()
    });
    function drawchart38077d7c3e(){
      var opts = {
 "dom": "chart38077d7c3e",
"x": "age",
"y": "norm_count",
"group": "year",
"type": "multiBarChart",
"disabled": [ true, true, true, true, true, true, true, true, true, true, true, true, false ],
"id": "chart38077d7c3e"
},
        data = [
 {
 "year": "1999",
"age": "<1",
"norm_count":          23.94
},
{
 "year": "1999",
"age": "1-4",
"norm_count":          19.99
},
{
 "year": "1999",
"age": "5-9",
"norm_count":          11.14
},
{
 "year": "1999",
"age": "10-14",
"norm_count":          12.53
},
{
 "year": "1999",
"age": "15-19",
"norm_count":          20.01
},
{
 "year": "1999",
"age": "20-24",
"norm_count":          32.78
},
{
 "year": "1999",
"age": "25-29",
"norm_count":          52.69
},
{
 "year": "1999",
"age": "30-34",
"norm_count":          82.55
},
{
 "year": "1999",
"age": "35-39",
"norm_count":          126.5
},
{
 "year": "1999",
"age": "40-44",
"norm_count":         211.08
},
{
 "year": "1999",
"age": "45-49",
"norm_count":         345.37
},
{
 "year": "1999",
"age": "50-54",
"norm_count":         567.28
},
{
 "year": "1999",
"age": "55-59",
"norm_count":         913.04
},
{
 "year": "1999",
"age": "60-64",
"norm_count":        1343.34
},
{
 "year": "1999",
"age": "65-69",
"norm_count":        1878.55
},
{
 "year": "1999",
"age": "70-74",
"norm_count":        2262.11
},
{
 "year": "1999",
"age": "75-79",
"norm_count":        2483.74
},
{
 "year": "1999",
"age": "80-84",
"norm_count":        2511.77
},
{
 "year": "1999",
"age": "85+",
"norm_count":        2361.57
},
{
 "year": "2000",
"age": "<1",
"norm_count":          23.68
},
{
 "year": "2000",
"age": "1-4",
"norm_count":          20.62
},
{
 "year": "2000",
"age": "5-9",
"norm_count":          11.63
},
{
 "year": "2000",
"age": "10-14",
"norm_count":          12.43
},
{
 "year": "2000",
"age": "15-19",
"norm_count":           20.6
},
{
 "year": "2000",
"age": "20-24",
"norm_count":          32.77
},
{
 "year": "2000",
"age": "25-29",
"norm_count":          54.07
},
{
 "year": "2000",
"age": "30-34",
"norm_count":           82.9
},
{
 "year": "2000",
"age": "35-39",
"norm_count":            130
},
{
 "year": "2000",
"age": "40-44",
"norm_count":         214.27
},
{
 "year": "2000",
"age": "45-49",
"norm_count":         351.52
},
{
 "year": "2000",
"age": "50-54",
"norm_count":         576.46
},
{
 "year": "2000",
"age": "55-59",
"norm_count":         918.69
},
{
 "year": "2000",
"age": "60-64",
"norm_count":        1351.52
},
{
 "year": "2000",
"age": "65-69",
"norm_count":        1861.43
},
{
 "year": "2000",
"age": "70-74",
"norm_count":        2251.39
},
{
 "year": "2000",
"age": "75-79",
"norm_count":        2452.17
},
{
 "year": "2000",
"age": "80-84",
"norm_count":        2513.65
},
{
 "year": "2000",
"age": "85+",
"norm_count":        2343.64
},
{
 "year": "2001",
"age": "<1",
"norm_count":          25.21
},
{
 "year": "2001",
"age": "1-4",
"norm_count":          22.02
},
{
 "year": "2001",
"age": "5-9",
"norm_count":          11.71
},
{
 "year": "2001",
"age": "10-14",
"norm_count":           13.4
},
{
 "year": "2001",
"age": "15-19",
"norm_count":          21.45
},
{
 "year": "2001",
"age": "20-24",
"norm_count":          33.88
},
{
 "year": "2001",
"age": "25-29",
"norm_count":          55.12
},
{
 "year": "2001",
"age": "30-34",
"norm_count":          84.99
},
{
 "year": "2001",
"age": "35-39",
"norm_count":         131.78
},
{
 "year": "2001",
"age": "40-44",
"norm_count":         218.69
},
{
 "year": "2001",
"age": "45-49",
"norm_count":         353.98
},
{
 "year": "2001",
"age": "50-54",
"norm_count":         579.06
},
{
 "year": "2001",
"age": "55-59",
"norm_count":         936.27
},
{
 "year": "2001",
"age": "60-64",
"norm_count":        1360.43
},
{
 "year": "2001",
"age": "65-69",
"norm_count":        1883.62
},
{
 "year": "2001",
"age": "70-74",
"norm_count":        2281.04
},
{
 "year": "2001",
"age": "75-79",
"norm_count":        2529.04
},
{
 "year": "2001",
"age": "80-84",
"norm_count":        2540.06
},
{
 "year": "2001",
"age": "85+",
"norm_count":        2418.01
},
{
 "year": "2002",
"age": "<1",
"norm_count":             25
},
{
 "year": "2002",
"age": "1-4",
"norm_count":          21.49
},
{
 "year": "2002",
"age": "5-9",
"norm_count":          12.24
},
{
 "year": "2002",
"age": "10-14",
"norm_count":          12.75
},
{
 "year": "2002",
"age": "15-19",
"norm_count":          21.75
},
{
 "year": "2002",
"age": "20-24",
"norm_count":          34.19
},
{
 "year": "2002",
"age": "25-29",
"norm_count":          55.71
},
{
 "year": "2002",
"age": "30-34",
"norm_count":          86.11
},
{
 "year": "2002",
"age": "35-39",
"norm_count":         131.43
},
{
 "year": "2002",
"age": "40-44",
"norm_count":          218.7
},
{
 "year": "2002",
"age": "45-49",
"norm_count":         355.53
},
{
 "year": "2002",
"age": "50-54",
"norm_count":         581.14
},
{
 "year": "2002",
"age": "55-59",
"norm_count":         920.36
},
{
 "year": "2002",
"age": "60-64",
"norm_count":        1357.08
},
{
 "year": "2002",
"age": "65-69",
"norm_count":        1860.44
},
{
 "year": "2002",
"age": "70-74",
"norm_count":        2252.21
},
{
 "year": "2002",
"age": "75-79",
"norm_count":        2504.22
},
{
 "year": "2002",
"age": "80-84",
"norm_count":        2542.83
},
{
 "year": "2002",
"age": "85+",
"norm_count":        2398.87
},
{
 "year": "2003",
"age": "<1",
"norm_count":          25.24
},
{
 "year": "2003",
"age": "1-4",
"norm_count":          20.85
},
{
 "year": "2003",
"age": "5-9",
"norm_count":          11.39
},
{
 "year": "2003",
"age": "10-14",
"norm_count":          12.81
},
{
 "year": "2003",
"age": "15-19",
"norm_count":          21.19
},
{
 "year": "2003",
"age": "20-24",
"norm_count":          33.65
},
{
 "year": "2003",
"age": "25-29",
"norm_count":          54.94
},
{
 "year": "2003",
"age": "30-34",
"norm_count":          86.03
},
{
 "year": "2003",
"age": "35-39",
"norm_count":         132.41
},
{
 "year": "2003",
"age": "40-44",
"norm_count":         218.61
},
{
 "year": "2003",
"age": "45-49",
"norm_count":         356.22
},
{
 "year": "2003",
"age": "50-54",
"norm_count":         570.53
},
{
 "year": "2003",
"age": "55-59",
"norm_count":         887.11
},
{
 "year": "2003",
"age": "60-64",
"norm_count":        1301.03
},
{
 "year": "2003",
"age": "65-69",
"norm_count":        1803.43
},
{
 "year": "2003",
"age": "70-74",
"norm_count":        2177.04
},
{
 "year": "2003",
"age": "75-79",
"norm_count":        2456.16
},
{
 "year": "2003",
"age": "80-84",
"norm_count":        2507.62
},
{
 "year": "2003",
"age": "85+",
"norm_count":        2373.57
},
{
 "year": "2004",
"age": "<1",
"norm_count":          25.73
},
{
 "year": "2004",
"age": "1-4",
"norm_count":          22.24
},
{
 "year": "2004",
"age": "5-9",
"norm_count":          11.88
},
{
 "year": "2004",
"age": "10-14",
"norm_count":          13.32
},
{
 "year": "2004",
"age": "15-19",
"norm_count":          21.52
},
{
 "year": "2004",
"age": "20-24",
"norm_count":          34.45
},
{
 "year": "2004",
"age": "25-29",
"norm_count":          55.37
},
{
 "year": "2004",
"age": "30-34",
"norm_count":          89.01
},
{
 "year": "2004",
"age": "35-39",
"norm_count":         133.42
},
{
 "year": "2004",
"age": "40-44",
"norm_count":         220.21
},
{
 "year": "2004",
"age": "45-49",
"norm_count":         361.49
},
{
 "year": "2004",
"age": "50-54",
"norm_count":          573.6
},
{
 "year": "2004",
"age": "55-59",
"norm_count":         874.36
},
{
 "year": "2004",
"age": "60-64",
"norm_count":        1292.51
},
{
 "year": "2004",
"age": "65-69",
"norm_count":        1790.81
},
{
 "year": "2004",
"age": "70-74",
"norm_count":        2151.32
},
{
 "year": "2004",
"age": "75-79",
"norm_count":        2432.88
},
{
 "year": "2004",
"age": "80-84",
"norm_count":        2509.83
},
{
 "year": "2004",
"age": "85+",
"norm_count":        2351.86
},
{
 "year": "2005",
"age": "<1",
"norm_count":           25.1
},
{
 "year": "2005",
"age": "1-4",
"norm_count":          21.47
},
{
 "year": "2005",
"age": "5-9",
"norm_count":          11.83
},
{
 "year": "2005",
"age": "10-14",
"norm_count":          12.87
},
{
 "year": "2005",
"age": "15-19",
"norm_count":          22.04
},
{
 "year": "2005",
"age": "20-24",
"norm_count":          35.03
},
{
 "year": "2005",
"age": "25-29",
"norm_count":          57.84
},
{
 "year": "2005",
"age": "30-34",
"norm_count":          88.97
},
{
 "year": "2005",
"age": "35-39",
"norm_count":         135.19
},
{
 "year": "2005",
"age": "40-44",
"norm_count":         222.86
},
{
 "year": "2005",
"age": "45-49",
"norm_count":         362.74
},
{
 "year": "2005",
"age": "50-54",
"norm_count":         574.17
},
{
 "year": "2005",
"age": "55-59",
"norm_count":         870.79
},
{
 "year": "2005",
"age": "60-64",
"norm_count":        1285.95
},
{
 "year": "2005",
"age": "65-69",
"norm_count":        1784.35
},
{
 "year": "2005",
"age": "70-74",
"norm_count":         2141.9
},
{
 "year": "2005",
"age": "75-79",
"norm_count":        2428.52
},
{
 "year": "2005",
"age": "80-84",
"norm_count":        2509.45
},
{
 "year": "2005",
"age": "85+",
"norm_count":        2363.31
},
{
 "year": "2006",
"age": "<1",
"norm_count":           26.4
},
{
 "year": "2006",
"age": "1-4",
"norm_count":          21.19
},
{
 "year": "2006",
"age": "5-9",
"norm_count":          12.06
},
{
 "year": "2006",
"age": "10-14",
"norm_count":          13.38
},
{
 "year": "2006",
"age": "15-19",
"norm_count":          21.27
},
{
 "year": "2006",
"age": "20-24",
"norm_count":          35.21
},
{
 "year": "2006",
"age": "25-29",
"norm_count":          57.37
},
{
 "year": "2006",
"age": "30-34",
"norm_count":          88.76
},
{
 "year": "2006",
"age": "35-39",
"norm_count":          135.7
},
{
 "year": "2006",
"age": "40-44",
"norm_count":         226.22
},
{
 "year": "2006",
"age": "45-49",
"norm_count":         364.61
},
{
 "year": "2006",
"age": "50-54",
"norm_count":         579.75
},
{
 "year": "2006",
"age": "55-59",
"norm_count":          877.3
},
{
 "year": "2006",
"age": "60-64",
"norm_count":        1296.28
},
{
 "year": "2006",
"age": "65-69",
"norm_count":        1805.82
},
{
 "year": "2006",
"age": "70-74",
"norm_count":        2160.86
},
{
 "year": "2006",
"age": "75-79",
"norm_count":        2429.72
},
{
 "year": "2006",
"age": "80-84",
"norm_count":        2500.98
},
{
 "year": "2006",
"age": "85+",
"norm_count":        2345.12
},
{
 "year": "2007",
"age": "<1",
"norm_count":          26.28
},
{
 "year": "2007",
"age": "1-4",
"norm_count":          22.37
},
{
 "year": "2007",
"age": "5-9",
"norm_count":          12.35
},
{
 "year": "2007",
"age": "10-14",
"norm_count":          13.13
},
{
 "year": "2007",
"age": "15-19",
"norm_count":          21.86
},
{
 "year": "2007",
"age": "20-24",
"norm_count":          35.89
},
{
 "year": "2007",
"age": "25-29",
"norm_count":          58.93
},
{
 "year": "2007",
"age": "30-34",
"norm_count":          89.31
},
{
 "year": "2007",
"age": "35-39",
"norm_count":         136.93
},
{
 "year": "2007",
"age": "40-44",
"norm_count":         226.28
},
{
 "year": "2007",
"age": "45-49",
"norm_count":         370.07
},
{
 "year": "2007",
"age": "50-54",
"norm_count":         590.32
},
{
 "year": "2007",
"age": "55-59",
"norm_count":         886.65
},
{
 "year": "2007",
"age": "60-64",
"norm_count":        1300.43
},
{
 "year": "2007",
"age": "65-69",
"norm_count":        1832.95
},
{
 "year": "2007",
"age": "70-74",
"norm_count":        2167.99
},
{
 "year": "2007",
"age": "75-79",
"norm_count":        2436.87
},
{
 "year": "2007",
"age": "80-84",
"norm_count":        2507.14
},
{
 "year": "2007",
"age": "85+",
"norm_count":        2332.51
},
{
 "year": "2008",
"age": "<1",
"norm_count":          26.83
},
{
 "year": "2008",
"age": "1-4",
"norm_count":          22.51
},
{
 "year": "2008",
"age": "5-9",
"norm_count":          12.65
},
{
 "year": "2008",
"age": "10-14",
"norm_count":          13.26
},
{
 "year": "2008",
"age": "15-19",
"norm_count":          21.83
},
{
 "year": "2008",
"age": "20-24",
"norm_count":          35.92
},
{
 "year": "2008",
"age": "25-29",
"norm_count":          58.27
},
{
 "year": "2008",
"age": "30-34",
"norm_count":          92.17
},
{
 "year": "2008",
"age": "35-39",
"norm_count":         140.29
},
{
 "year": "2008",
"age": "40-44",
"norm_count":         226.92
},
{
 "year": "2008",
"age": "45-49",
"norm_count":         373.32
},
{
 "year": "2008",
"age": "50-54",
"norm_count":         590.71
},
{
 "year": "2008",
"age": "55-59",
"norm_count":         875.45
},
{
 "year": "2008",
"age": "60-64",
"norm_count":        1273.03
},
{
 "year": "2008",
"age": "65-69",
"norm_count":         1790.3
},
{
 "year": "2008",
"age": "70-74",
"norm_count":         2126.7
},
{
 "year": "2008",
"age": "75-79",
"norm_count":         2392.9
},
{
 "year": "2008",
"age": "80-84",
"norm_count":        2480.39
},
{
 "year": "2008",
"age": "85+",
"norm_count":        2357.25
},
{
 "year": "2009",
"age": "<1",
"norm_count":          26.65
},
{
 "year": "2009",
"age": "1-4",
"norm_count":          21.91
},
{
 "year": "2009",
"age": "5-9",
"norm_count":          12.38
},
{
 "year": "2009",
"age": "10-14",
"norm_count":           13.5
},
{
 "year": "2009",
"age": "15-19",
"norm_count":          21.87
},
{
 "year": "2009",
"age": "20-24",
"norm_count":          36.14
},
{
 "year": "2009",
"age": "25-29",
"norm_count":          59.54
},
{
 "year": "2009",
"age": "30-34",
"norm_count":          92.91
},
{
 "year": "2009",
"age": "35-39",
"norm_count":         140.14
},
{
 "year": "2009",
"age": "40-44",
"norm_count":         227.84
},
{
 "year": "2009",
"age": "45-49",
"norm_count":         373.59
},
{
 "year": "2009",
"age": "50-54",
"norm_count":         594.47
},
{
 "year": "2009",
"age": "55-59",
"norm_count":         865.04
},
{
 "year": "2009",
"age": "60-64",
"norm_count":        1253.18
},
{
 "year": "2009",
"age": "65-69",
"norm_count":        1764.67
},
{
 "year": "2009",
"age": "70-74",
"norm_count":        2091.46
},
{
 "year": "2009",
"age": "75-79",
"norm_count":        2340.83
},
{
 "year": "2009",
"age": "80-84",
"norm_count":        2422.26
},
{
 "year": "2009",
"age": "85+",
"norm_count":        2290.74
},
{
 "year": "2010",
"age": "<1",
"norm_count":           26.6
},
{
 "year": "2010",
"age": "1-4",
"norm_count":          23.05
},
{
 "year": "2010",
"age": "5-9",
"norm_count":          12.93
},
{
 "year": "2010",
"age": "10-14",
"norm_count":          13.85
},
{
 "year": "2010",
"age": "15-19",
"norm_count":          21.18
},
{
 "year": "2010",
"age": "20-24",
"norm_count":          35.29
},
{
 "year": "2010",
"age": "25-29",
"norm_count":          58.58
},
{
 "year": "2010",
"age": "30-34",
"norm_count":          90.58
},
{
 "year": "2010",
"age": "35-39",
"norm_count":         137.73
},
{
 "year": "2010",
"age": "40-44",
"norm_count":         221.42
},
{
 "year": "2010",
"age": "45-49",
"norm_count":         359.75
},
{
 "year": "2010",
"age": "50-54",
"norm_count":         575.28
},
{
 "year": "2010",
"age": "55-59",
"norm_count":         842.77
},
{
 "year": "2010",
"age": "60-64",
"norm_count":        1200.45
},
{
 "year": "2010",
"age": "65-69",
"norm_count":        1703.27
},
{
 "year": "2010",
"age": "70-74",
"norm_count":        2032.51
},
{
 "year": "2010",
"age": "75-79",
"norm_count":        2272.87
},
{
 "year": "2010",
"age": "80-84",
"norm_count":           2347
},
{
 "year": "2010",
"age": "85+",
"norm_count":        2205.53
},
{
 "year": "2011",
"age": "<1",
"norm_count":          25.98
},
{
 "year": "2011",
"age": "1-4",
"norm_count":          22.53
},
{
 "year": "2011",
"age": "5-9",
"norm_count":          12.99
},
{
 "year": "2011",
"age": "10-14",
"norm_count":          13.72
},
{
 "year": "2011",
"age": "15-19",
"norm_count":          21.85
},
{
 "year": "2011",
"age": "20-24",
"norm_count":          34.53
},
{
 "year": "2011",
"age": "25-29",
"norm_count":          57.86
},
{
 "year": "2011",
"age": "30-34",
"norm_count":          89.43
},
{
 "year": "2011",
"age": "35-39",
"norm_count":         137.33
},
{
 "year": "2011",
"age": "40-44",
"norm_count":         220.68
},
{
 "year": "2011",
"age": "45-49",
"norm_count":         358.66
},
{
 "year": "2011",
"age": "50-54",
"norm_count":         572.09
},
{
 "year": "2011",
"age": "55-59",
"norm_count":         838.22
},
{
 "year": "2011",
"age": "60-64",
"norm_count":        1183.09
},
{
 "year": "2011",
"age": "65-69",
"norm_count":        1693.56
},
{
 "year": "2011",
"age": "70-74",
"norm_count":        1997.87
},
{
 "year": "2011",
"age": "75-79",
"norm_count":        2224.83
},
{
 "year": "2011",
"age": "80-84",
"norm_count":        2301.66
},
{
 "year": "2011",
"age": "85+",
"norm_count":        2129.95
}
]

      if(!(opts.type==="pieChart" || opts.type==="sparklinePlus" || opts.type==="bulletChart")) {
        var data = d3.nest()
          .key(function(d){
            //return opts.group === undefined ? 'main' : d[opts.group]
            //instead of main would think a better default is opts.x
            return opts.group === undefined ? opts.y : d[opts.group];
          })
          .entries(data);
      }

      if (opts.disabled != undefined){
        data.map(function(d, i){
          d.disabled = opts.disabled[i]
        })
      }

      nv.addGraph(function() {
        var chart = nv.models[opts.type]()
          .width(opts.width)
          .height(opts.height)

        if (opts.type != "bulletChart"){
          chart
            .x(function(d) { return d[opts.x] })
            .y(function(d) { return d[opts.y] })
        }


        chart
  .color([ "#1B9E77", "#897932", "#C8611F", "#8D6B86", "#9B58A5", "#DD2E8D", "#A66753", "#70A61B", "#BBA90B", "#D59D08", "#B07E18", "#8B6F3B", "#666666" ])
  .tooltipContent( function(key, x, y){
        return '<h3>' + x + '</h3>' +
         '<p>' + y + ' per 100,000 diagnosed in ' + key + '</p>'
         } )

        chart.xAxis
  .showMaxMin(false)
  .axisLabel("Age")



        chart.yAxis
  .showMaxMin(false)
  .axisLabel("Rate (per 100,000)")
  .width(    47)
  .tickFormat( function(d) {return d} )

       d3.select("#" + opts.id)
        .append('svg')
        .datum(data)
        .transition().duration(500)
        .call(chart);

       nv.utils.windowResize(chart.update);
       return chart;
      });
    };
</script>
