<div id = 'chart3804d6567eb' class = 'rChart nvd3'></div>
<script type='text/javascript'>
 $(document).ready(function(){
      drawchart3804d6567eb()
    });
    function drawchart3804d6567eb(){
      var opts = {
 "dom": "chart3804d6567eb",
"x": "year",
"y": "norm_count",
"group": "sex",
"type": "lineChart",
"disabled": [ false, false, true ],
"id": "chart3804d6567eb"
},
        data = [
 {
 "year": "1999",
"sex": "Female",
"norm_count":         454.39
},
{
 "year": "2000",
"sex": "Female",
"norm_count":         454.64
},
{
 "year": "2001",
"sex": "Female",
"norm_count":         464.17
},
{
 "year": "2002",
"sex": "Female",
"norm_count":         462.54
},
{
 "year": "2003",
"sex": "Female",
"norm_count":         456.81
},
{
 "year": "2004",
"sex": "Female",
"norm_count":         459.22
},
{
 "year": "2005",
"sex": "Female",
"norm_count":          464.4
},
{
 "year": "2006",
"sex": "Female",
"norm_count":         467.43
},
{
 "year": "2007",
"sex": "Female",
"norm_count":         472.85
},
{
 "year": "2008",
"sex": "Female",
"norm_count":         478.98
},
{
 "year": "2009",
"sex": "Female",
"norm_count":         482.05
},
{
 "year": "2010",
"sex": "Female",
"norm_count":         474.21
},
{
 "year": "2011",
"sex": "Female",
"norm_count":          475.2
},
{
 "year": "1999",
"sex": "Male",
"norm_count":          501.1
},
{
 "year": "2000",
"sex": "Male",
"norm_count":         506.01
},
{
 "year": "2001",
"sex": "Male",
"norm_count":         518.13
},
{
 "year": "2002",
"sex": "Male",
"norm_count":         519.88
},
{
 "year": "2003",
"sex": "Male",
"norm_count":          511.4
},
{
 "year": "2004",
"sex": "Male",
"norm_count":         513.08
},
{
 "year": "2005",
"sex": "Male",
"norm_count":         516.29
},
{
 "year": "2006",
"sex": "Male",
"norm_count":         526.87
},
{
 "year": "2007",
"sex": "Male",
"norm_count":         540.11
},
{
 "year": "2008",
"sex": "Male",
"norm_count":         535.25
},
{
 "year": "2009",
"sex": "Male",
"norm_count":         530.56
},
{
 "year": "2010",
"sex": "Male",
"norm_count":          518.8
},
{
 "year": "2011",
"sex": "Male",
"norm_count":         517.55
},
{
 "year": "1999",
"sex": "Male and Female",
"norm_count":          477.3
},
{
 "year": "2000",
"sex": "Male and Female",
"norm_count":         479.86
},
{
 "year": "2001",
"sex": "Male and Female",
"norm_count":         490.67
},
{
 "year": "2002",
"sex": "Male and Female",
"norm_count":         490.71
},
{
 "year": "2003",
"sex": "Male and Female",
"norm_count":         483.62
},
{
 "year": "2004",
"sex": "Male and Female",
"norm_count":         485.67
},
{
 "year": "2005",
"sex": "Male and Female",
"norm_count":          489.9
},
{
 "year": "2006",
"sex": "Male and Female",
"norm_count":         496.64
},
{
 "year": "2007",
"sex": "Male and Female",
"norm_count":         505.91
},
{
 "year": "2008",
"sex": "Male and Female",
"norm_count":         506.65
},
{
 "year": "2009",
"sex": "Male and Female",
"norm_count":          505.9
},
{
 "year": "2010",
"sex": "Male and Female",
"norm_count":         496.13
},
{
 "year": "2011",
"sex": "Male and Female",
"norm_count":         496.03
}
]

      if(!(opts.type==="pieChart" || opts.type==="sparklinePlus" || opts.type==="bulletChart")) {
        var data = d3.nest()
          .key(function(d){
            //return opts.group === undefined ? 'main' : d[opts.group]
            //instead of main would think a better default is opts.x
            return opts.group === undefined ? opts.y : d[opts.group];
          })
          .entries(data);
      }

      if (opts.disabled != undefined){
        data.map(function(d, i){
          d.disabled = opts.disabled[i]
        })
      }

      nv.addGraph(function() {
        var chart = nv.models[opts.type]()
          .width(opts.width)
          .height(opts.height)

        if (opts.type != "bulletChart"){
          chart
            .x(function(d) { return d[opts.x] })
            .y(function(d) { return d[opts.y] })
        }


        chart
  .color([ "hotpink", "blue", "black" ])
  .tooltipContent( function(key, x, y){
        return '<h3>' + key + '</h3>' +
              '<p>' + y + ' per 100,000 diagnosed in ' + x + '</p>'
              } )

        chart.xAxis
  .axisLabel("Year")



        chart.yAxis
  .showMaxMin(false)
  .axisLabel("Rate (per 100,000)")
  .width(    40)

       d3.select("#" + opts.id)
        .append('svg')
        .datum(data)
        .transition().duration(500)
        .call(chart);

       nv.utils.windowResize(chart.update);
       return chart;
      });
    };
</script>
