<div id = 'chart380790640c0' class = 'rChart nvd3'></div>
<script type='text/javascript'>
 $(document).ready(function(){
      drawchart380790640c0()
    });
    function drawchart380790640c0(){
      var opts = {
 "dom": "chart380790640c0",
"x": "year",
"y": "norm_count",
"group": "race",
"type": "lineChart",
"disabled": [ true, false, false, false, false, false ],
"id": "chart380790640c0"
},
        data = [
 {
 "year": "1999",
"race": "All Races",
"norm_count":          477.3
},
{
 "year": "2000",
"race": "All Races",
"norm_count":         479.86
},
{
 "year": "2001",
"race": "All Races",
"norm_count":         490.67
},
{
 "year": "2002",
"race": "All Races",
"norm_count":         490.71
},
{
 "year": "2003",
"race": "All Races",
"norm_count":         483.62
},
{
 "year": "2004",
"race": "All Races",
"norm_count":         485.67
},
{
 "year": "2005",
"race": "All Races",
"norm_count":          489.9
},
{
 "year": "2006",
"race": "All Races",
"norm_count":         496.64
},
{
 "year": "2007",
"race": "All Races",
"norm_count":         505.91
},
{
 "year": "2008",
"race": "All Races",
"norm_count":         506.65
},
{
 "year": "2009",
"race": "All Races",
"norm_count":          505.9
},
{
 "year": "2010",
"race": "All Races",
"norm_count":         496.13
},
{
 "year": "2011",
"race": "All Races",
"norm_count":         496.03
},
{
 "year": "1999",
"race": "American Indian/Alaska Native",
"norm_count":         172.55
},
{
 "year": "2000",
"race": "American Indian/Alaska Native",
"norm_count":         165.49
},
{
 "year": "2001",
"race": "American Indian/Alaska Native",
"norm_count":         176.31
},
{
 "year": "2002",
"race": "American Indian/Alaska Native",
"norm_count":         174.14
},
{
 "year": "2003",
"race": "American Indian/Alaska Native",
"norm_count":          179.6
},
{
 "year": "2004",
"race": "American Indian/Alaska Native",
"norm_count":         182.45
},
{
 "year": "2005",
"race": "American Indian/Alaska Native",
"norm_count":         181.41
},
{
 "year": "2006",
"race": "American Indian/Alaska Native",
"norm_count":         183.58
},
{
 "year": "2007",
"race": "American Indian/Alaska Native",
"norm_count":         185.91
},
{
 "year": "2008",
"race": "American Indian/Alaska Native",
"norm_count":            186
},
{
 "year": "2009",
"race": "American Indian/Alaska Native",
"norm_count":          187.6
},
{
 "year": "2010",
"race": "American Indian/Alaska Native",
"norm_count":         185.53
},
{
 "year": "2011",
"race": "American Indian/Alaska Native",
"norm_count":         183.77
},
{
 "year": "1999",
"race": "Asian/Pacific Islander",
"norm_count":         217.31
},
{
 "year": "2000",
"race": "Asian/Pacific Islander",
"norm_count":         221.07
},
{
 "year": "2001",
"race": "Asian/Pacific Islander",
"norm_count":          229.1
},
{
 "year": "2002",
"race": "Asian/Pacific Islander",
"norm_count":         230.14
},
{
 "year": "2003",
"race": "Asian/Pacific Islander",
"norm_count":         227.52
},
{
 "year": "2004",
"race": "Asian/Pacific Islander",
"norm_count":         230.64
},
{
 "year": "2005",
"race": "Asian/Pacific Islander",
"norm_count":         232.56
},
{
 "year": "2006",
"race": "Asian/Pacific Islander",
"norm_count":         234.89
},
{
 "year": "2007",
"race": "Asian/Pacific Islander",
"norm_count":         242.02
},
{
 "year": "2008",
"race": "Asian/Pacific Islander",
"norm_count":         245.41
},
{
 "year": "2009",
"race": "Asian/Pacific Islander",
"norm_count":          245.2
},
{
 "year": "2010",
"race": "Asian/Pacific Islander",
"norm_count":         249.22
},
{
 "year": "2011",
"race": "Asian/Pacific Islander",
"norm_count":         251.08
},
{
 "year": "1999",
"race": "Black",
"norm_count":         354.08
},
{
 "year": "2000",
"race": "Black",
"norm_count":         356.87
},
{
 "year": "2001",
"race": "Black",
"norm_count":         361.62
},
{
 "year": "2002",
"race": "Black",
"norm_count":         365.81
},
{
 "year": "2003",
"race": "Black",
"norm_count":         369.31
},
{
 "year": "2004",
"race": "Black",
"norm_count":         370.74
},
{
 "year": "2005",
"race": "Black",
"norm_count":         372.58
},
{
 "year": "2006",
"race": "Black",
"norm_count":         376.01
},
{
 "year": "2007",
"race": "Black",
"norm_count":         386.82
},
{
 "year": "2008",
"race": "Black",
"norm_count":         388.99
},
{
 "year": "2009",
"race": "Black",
"norm_count":         394.79
},
{
 "year": "2010",
"race": "Black",
"norm_count":         389.03
},
{
 "year": "2011",
"race": "Black",
"norm_count":         388.98
},
{
 "year": "1999",
"race": "Hispanic",
"norm_count":         196.94
},
{
 "year": "2000",
"race": "Hispanic",
"norm_count":         199.23
},
{
 "year": "2001",
"race": "Hispanic",
"norm_count":         203.25
},
{
 "year": "2002",
"race": "Hispanic",
"norm_count":         205.09
},
{
 "year": "2003",
"race": "Hispanic",
"norm_count":         203.17
},
{
 "year": "2004",
"race": "Hispanic",
"norm_count":         205.61
},
{
 "year": "2005",
"race": "Hispanic",
"norm_count":         208.03
},
{
 "year": "2006",
"race": "Hispanic",
"norm_count":          209.1
},
{
 "year": "2007",
"race": "Hispanic",
"norm_count":         212.75
},
{
 "year": "2008",
"race": "Hispanic",
"norm_count":         215.29
},
{
 "year": "2009",
"race": "Hispanic",
"norm_count":         215.42
},
{
 "year": "2010",
"race": "Hispanic",
"norm_count":         209.85
},
{
 "year": "2011",
"race": "Hispanic",
"norm_count":         213.67
},
{
 "year": "1999",
"race": "White",
"norm_count":         508.22
},
{
 "year": "2000",
"race": "White",
"norm_count":         511.29
},
{
 "year": "2001",
"race": "White",
"norm_count":         522.83
},
{
 "year": "2002",
"race": "White",
"norm_count":         523.08
},
{
 "year": "2003",
"race": "White",
"norm_count":         514.85
},
{
 "year": "2004",
"race": "White",
"norm_count":         517.55
},
{
 "year": "2005",
"race": "White",
"norm_count":         522.45
},
{
 "year": "2006",
"race": "White",
"norm_count":          530.1
},
{
 "year": "2007",
"race": "White",
"norm_count":          538.5
},
{
 "year": "2008",
"race": "White",
"norm_count":         539.69
},
{
 "year": "2009",
"race": "White",
"norm_count":         537.73
},
{
 "year": "2010",
"race": "White",
"norm_count":         526.57
},
{
 "year": "2011",
"race": "White",
"norm_count":         525.59
}
]

      if(!(opts.type==="pieChart" || opts.type==="sparklinePlus" || opts.type==="bulletChart")) {
        var data = d3.nest()
          .key(function(d){
            //return opts.group === undefined ? 'main' : d[opts.group]
            //instead of main would think a better default is opts.x
            return opts.group === undefined ? opts.y : d[opts.group];
          })
          .entries(data);
      }

      if (opts.disabled != undefined){
        data.map(function(d, i){
          d.disabled = opts.disabled[i]
        })
      }

      nv.addGraph(function() {
        var chart = nv.models[opts.type]()
          .width(opts.width)
          .height(opts.height)

        if (opts.type != "bulletChart"){
          chart
            .x(function(d) { return d[opts.x] })
            .y(function(d) { return d[opts.y] })
        }


        chart
  .color([ "black", "#1B9E77", "#D95F02", "#7570B3", "#E7298A", "#66A61E" ])
  .tooltipContent( function(key, x, y){
        return '<h3>' + key + '</h3>' +
         '<p>' + y + ' per 100,000 diagnosed in ' + x + '</p>'
         } )

        chart.xAxis
  .axisLabel("Year")



        chart.yAxis
  .showMaxMin(false)
  .axisLabel("Rate (per 100,000)")
  .width(    47)

       d3.select("#" + opts.id)
        .append('svg')
        .datum(data)
        .transition().duration(500)
        .call(chart);

       nv.utils.windowResize(chart.update);
       return chart;
      });
    };
</script>
