.site-header {
  text-align: center;
  color: #333;
}

.site-header .site-title {
  font-size: 2rem;
}

.site-nav .visuals {
  font-size: 1.5rem;
  padding-top: 7px;
}

.site-nav .about {
  font-size: 1rem;
  padding-top: 7px;
}
