.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: #333;
  font-size: $h3;
  font-weight: 300;
}

.site-header .site-title {
  font-size: $h1;
  border-bottom: 2px solid #444;
}

.site-header .site-title:hover,
.site-header .site-title:focus,
.site-header .site-title:active {
  border-bottom: none;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #666;
  border-bottom: 2px solid #444;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  border-bottom: none;
}

.site-nav a + a {
  margin-left: 2em;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

.social-icons .left, .social-icons .right {
  text-align: center;
  float: none;
}
