@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 2.998rem;
  }

  .site-header {
  }

  .site-header .site-title {
    font-size: 2.5rem;
    float: left;
    margin-top: 19px;
  }

  .site-header .jester {
    float: left;
    width: 58px;
    height: 72px;
    padding-top: 0px;
    padding-left: 15px;
  }

  .site-header .site-nav {
    float: right;
  }

  .site-header .site-nav .visuals {
    font-size: 1.5rem;
    padding-top: 0px;
  }

  .site-header .site-nav .about {
    font-size: 1.5rem;
    padding-top: 9px;
  }

  .p2 {
    padding: 1rem;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
  }
}

@media screen and (min-width: $viewport-large) {
  html {
  }
}
