@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 3rem;
  }

  .site-header {
  }

  .site-header .site-title {
    font-size: 3rem;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: 8px;
  }

  .site-header .site-nav .visuals {
    float: left;
    font-size: 1.5rem;
    padding-right: 15px;
  }

  .site-header .site-nav .about {
    float: right;
    font-size: 1.5rem;
  }

  .p2 {
    padding: 1rem;
  }

  blockquote {
    margin-left: $space-3;
    padding: $space-3;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
  }
}

@media screen and (min-width: $viewport-large) {
  html {
  }
}
