.pagination {
  font-size: 1rem;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.pagination a, .pagination .disabled {
  color: #000000;
  border-bottom: 2px solid #444;
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
  border-bottom: none;
}
