
.posts {
  margin: 0;
  margin-top: 23.904px;
}

.posts .post {
}

.posts .post:last-child {
}

.post-link .post-title {
  font-weight: 600;
  color: #333;
  display: inline;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #7a7a7a;
  font-style: italic;
}

.post .post-content {
  border-bottom: thin solid #ccc;
  padding-bottom: 1em;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
