
.posts {
  margin: 0;
}

.posts .post {
}

.posts .post:last-child {
}

.post-link .post-title {
  font-weight: 600;
  color: #333;
  display: inline;
  margin-top: 20px;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #7a7a7a;
  font-style: italic;
}

.post-header {
}
