.social-icons {
  color: #000000;
  width: 5%;
}

.social-icons a.fa {
  cursor: pointer;
  padding: 0.2em;
  border-bottom: none;
}

.social-icons .left,
.social-icons .right {
  text-align: center;
  float: none;
}
